@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  header .top-nav {
    flex-direction: column;
  }
  header .top-nav .logo {
    margin: auto;
  }
  header .top-nav ul {
    margin: 20px auto 0;
    width: 80%;
  }
  header .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
  header .hero .hero-image {
    padding-left: 0;
    margin: 40px;
  }

  .featured-section {
    padding: 50px 0;
  }
  .featured-section .products {
    grid-template-columns: 1fr;
  }

  .blog-section .blog-posts {
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-areas: "blog1" "blog2" "blog3";
  }
  .blog-section .section-description {
    text-align: center;
  }

  footer .footer-content {
    flex-direction: column;
  }
  footer .footer-content .made-width {
    margin: auto;
    text-align: center;
  }
  footer .footer-content ul {
    margin: 20px auto;
    width: 60%;
  }
}
@media screen and (max-width: 450px) {
  header .top-nav ul {
    padding-left: 0;
  }
}
@media screen and (max-width: 400px) {
  header .top-nav {
    padding-bottom: 0;
  }
  header .top-nav ul {
    flex-direction: column;
    padding-left: 0;
  }
  header .top-nav ul li {
    margin-bottom: 20px;
  }
  header .hero .hero-buttons {
    display: flex;
    flex-direction: column;
  }
  header .hero .hero-buttons .button-black {
    margin-top: 10px;
  }

  .featured-section .button-container {
    display: flex;
    flex-direction: column;
  }
  .featured-section .button-container .button-sale {
    margin-top: 10px;
  }
}
@media screen and (max-width: 320px) {
  header .top-nav .logo {
    font-size: 40px;
  }
  header .top-nav ul {
    display: none;
  }
  header .hero {
    padding-top: 0px;
  }
  header .hero .hero-buttons {
    display: flex;
    flex-direction: column;
  }
  header .hero .hero-buttons .button-black {
    margin-top: 10px;
  }

  .featured-section .button-container {
    display: flex;
    flex-direction: column;
  }
  .featured-section .button-container .button-sale {
    margin-top: 10px;
  }

  footer .footer-content ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
